<html>
  <head>
  <!--eBay V3- msxml 6.0 XXXXXXXXXXXXXXXXXXXXXXXXXX-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><!--srcId: ChangeEmail-->
    <title>eBay: Change</title>
    <script language="JavaScript"><!--
      var pageName = "PageChangeEmail_NewError";
                    
                        //-->
    </script>
    <script language="javascript"><!--
      function focusOnError() { 
        if(document.getElementById('errFocusId')!=null) {
          document.getElementById('errFocusId').focus();
        }
      }
                  //-->
    </script>
  </head>

  <body bgcolor="#ffffff" style="color:#5d5d5d; font-size:x-small;" onload="focusOnError();">
    <div class="pagewidth">
      <div class="pageminwidth">
        <div class="pagelayout">
          <div class="pagecontainer">
            <!-- Begin eBay Header --><!--2014-11-19 13:36:52,,, uk`0d72f+247g,RcmdId ChangeEmailShow,RlogId p4pfan%60jtb9%3Fuk%600d72f%2B247g-14a1914fd36-0x107-->
            <div>
              <script type="text/javascript">var _GlobalNavHeaderUtf8Encoding=true,includeHost='https://secureinclude.ebaystatic.com/';</script><script src="https://secureir.ebaystatic.com/v4js/z/i5/r32gctn0fu3vjkpge2mjhij3q.js"></script><script src="https://secureinclude.ebaystatic.com/js/e887/us/ebaybase_v4_e8872us.js"></script><script src="https://secureinclude.ebaystatic.com/js/e867/us/ebaysup_e8672us.js"></script><script type="text/javascript">if(document.documentMode != 8 && document.compatMode != "CSS1Compat") ebay.oDocument._getControl("headerCommon")._exec("writeStyleSheet");</script><link href="https://secureir.ebaystatic.com/rs/v/kho3eacddu3k3gs0xqzg2kgulus.css?proc=DU:N" type="text/css" rel="stylesheet">
              <div class="gh-acc-exp-div"><a id="gh-hdn-stm" class="gh-acc-a" href="#mainContent">Skip to main content</a></div>
              <!--[if lt IE 9]><div id="gh" class="gh-IE8 gh-flex gh-w gh-minH no-touch "><![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
              <div id="gh" class="gh-flex gh-w gh-minH no-touch "><!--<![endif]-->
                <table class="gh-tbl">
                  <tbody>
                    <tr>
                      <td class="gh-td">
                        <!--[if lt IE 9]><a href="http://www.ebay.com/" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img width="117" height="120" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="https://secureir.ebaystatic.com/rs/v/apstidvcvu5pxlbxkphrrdo5iqv.png" id="gh-logo"></a><![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
                        <a href="http://www.ebay.com/" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="https://secureir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a>
                        <!--<![endif]-->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div><!--ts:2014.12.04.08:32--><!--rq:--><!--rvr:59rc5-->
              <script src="https://secureir.ebaystatic.com/rs/v/wl2xdecymuyehlztst314glbxi3.js" type="text/javascript"></script>
              <script type="text/javascript">
                GH = {init:function(){},log:function(){}};
              </script>
              <script type="text/javascript">
              if (typeof GH != "undefined" && GH) {GH_config = {"siteId":"0","geoLang":"[]",sin:1,ct:0,pageId:112,notifCfg:null,catURL:'https://secureinclude.ebaystatic.com/categoryjs/110/en_US_MAIN/category_110en_US_MAIN0.js',impId:'AFPyZe6s*'};GH.init();}</script><script type="text/javascript">var RoverDomainBaseUrl = 'https://rover.ebay.com';var svrGMT = 1417760013684;var scbps=0;var scPageName='ChangeEmailShow:112';</script></div><!--@sghp@ headerStyle=MIN:SECURE::NOSKIPLINK @eghp@--><!-- End eBay Header --><link rel="stylesheet" type="text/css" href="https://secureinclude.ebaystatic.com/css/e901/us/signin/signinyukon_SSL_e9011us.css">
              <script type="text/javascript" language="JavaScript1.1"><!--
                ebay.oDocument.oPage.createConfig = function()
                {
                var c = ebay.oDocument.addConfig(new EbayConfig("Security.Gif.Audio.Challenge"));
                c.sBotRefreshLinkId = "linkBotRefresh";
                c.sBotListenLinkId = "linkBotListen";
                c.sBotFrameId = "frameBot";
                c.sTokenStringId = "tokenstring";
                c.sTokenStringQueryParamName = "tokenString";
                c.sTokenTextId = "tokentext";
                c.sTokenDefTxt = " ";
                c.sBotIframeUrl = "https://scgi.ebay.com/ws/eBayISAPI.dll?FetchCaptchaToken&parentPage=ChangeEmailShow&siteid=0&co_brandId=2&ej2child=true"; // secured or non secured iframe url (should be in same sub domain of parent page)
                c.sAudioHelpPopupUrl = "https://scgi.ebay.com/ws/eBayISAPI.dll?ShowAudioChallengePage&parentPage=ChangeEmailShow&siteid=0&co_brandId=2"; // secured or non secured iframe url  (should be in same sub domain of parent page)
                c.sAudioHelpPopupWidth= "475";
                c.sAudioHelpPopupHeight= "325";
                c.sFormId = "ChangeEmail"; //form name
                }
                ebay.oDocument.oPage.createConfig();
        //-->
              </script>
              <script src="https://secureinclude.ebaystatic.com/js/e901/us/features/my_ebay/my_account/change_email_e9012us.js"> </script>

              
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#5d5d5d; font-size:x-small; font-weight:bold; ">
                          <tbody>
                            <tr>
                              <td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="10px" alt=" "></td>
                            </tr>
                            <tr>
                              <td style="padding-left:14px"><a name="mainContent"></a><h1 class="headerAccessYukon">Update your personal information</h1></td>
                            </tr>
                            <tr>
                              <td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="25px" alt=" "></td>
                            </tr>
                          </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="80" height="1" alt=" "></td>
                              <td>
                                <a href="javascript:;" id="errFocusId"><b class="g-hdn">Error</b></a>
                                <table cellpadding="0" cellspacing="0" border="0" style="padding:0px; margin:0px;">
                                  <tbody>
                                    <tr>
                                      <td height="6" width="6" align="right" valign="top"><img src="https://securepics.ebaystatic.com/aw/pics/globalAssets/imgPanelULRed.gif" alt=" " align="top"></td>
                                      <td height="2" width="100%" style="border-top:1px #ff0000 solid;"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" " width="2" height="6"></td>
                                      <td height="6" width="6" align="left" valign="top"><img src="https://securepics.ebaystatic.com/aw/pics/globalAssets/imgPanelURRed.gif" alt=" " align="top"></td>
                                    </tr>
                                    <tr>
                                      <td height="2" width="6" style="border-left:1px #ff0000 solid;"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
                                      <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                          <tbody>
                                            <tr>
                                              <td><img src="https://securepics.ebaystatic.com/aw/pics/icon/iconError_16x16.gif" alt=" "></td>
                                              <td align="left" width="3%" height="2"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
                                              <td><span style="color:#ff0000; font-size:small;"><strong> Please enter valid personal information to continue.</strong></span></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                      <td headers="2" width="6" style="border-right:1px #ff0000 solid;"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
                                    </tr>
                                    <tr>
                                      <td height="6" width="6" align="left" valign="bottom"><img src="https://securepics.ebaystatic.com/aw/pics/globalAssets/imgPanelLLRed.gif" alt=" " align="bottom"></td>
                                      <td height="2" width="100%" style="border-bottom:1px #ff0000 solid;"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" " width="2" height="6"></td>
                                      <td height="6" width="6" align="right" valign="bottom"><img src="https://securepics.ebaystatic.com/aw/pics/globalAssets/imgPanelLRRed.gif" alt=" " align="bottom"></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="100" height="1" alt=" "></td>
                            </tr>
                            <tr>
                              <td colspan="3"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="20" alt=" "></td>
                            </tr>
                          </tbody>
                        </table>
                        <table cellpadding="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td align="left" width="2%" height="2"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="signinyukon-rcp">
                          <div class="signinyukon-n">
                            <div class="signinyukon-e">
                              <div class="signinyukon-w"></div>
                            </div>
                          </div>
                          <div class="signinyukon-mid">
                            <h2 class="titleYukon" style="margin:-1px 0">Enter your new personal information</h2>
                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                              <tbody>
                                <tr>
                                  <td rowspan="4" width="10"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
                                  <td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="10px" alt=" "></td>
                                </tr>
                                <tr>

                                </tr>
                                <tr>
                                  <td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="20px" alt=" "></td>
                                </tr>
                                <tr>
                                  <td valign="top">
                                    Enter a valid zip code and/or SSN that you can check immediately. If you don't check and confirm, change will not take effect. 
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table cellpadding="0" width="100%" border="0">
                              <tbody>
                                <tr>
                                  <td align="left" width="2%" height="20"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
                                </tr>
                              </tbody>
                            </table>
                            
                            <form action="/editEmail" name="ChangeEmail" method="post" id="ChangeEmail" style="padding:0;margin:0;">
                  
                              <table cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                  <tr>
                                    <td align="left" width="10"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
                                  </tr>  
                                </tbody>
                              </table>
                            </form> 
              
                          
                            <form name="CHGREGFORM" method="post" action="/editNameAddress">
                              <table bordercolor="#efefef" border="1" cellpadding="0" cellspacing="0" width="600">
                                <tbody>
                                  <tr>    
                                    <td>
                                      <table border="0" cellpadding="4" cellspacing="2" width="600">
                                        <tbody>
                                          <tr>
                                            <td width="25%" bgcolor="#efefef">
                                              <b>Name</b>
                                            </td>
                                            <td width="75%" nowrap="">
                                              <table align="left" border="0">
                                                <tbody>
                                                  <tr>
                                                    <td nowrap="">
                                                      <b><label for="newfirstname">First Name</label></b>
                                                      <br>
                                                      <input type="text" name="newfirstname" size="15" maxlength="64" value="<%= session.user.Person_first_name %>" id="newfirstname">
                                                    </td>
                                                    <td nowrap="">
                                                      <b><label for="newlastname">Last Name</label></b>
                                                      <br>
                                                      <input type="text" name="newlastname" size="15" maxlength="64" value="<%= session.user.Person_last_name %>" id="newlastname">
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td bgcolor="#efefef">
                                              <strong><label for="newaddress">Address</label></strong>
                                            </td>
                                            <td>
                                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                  <tr>
                                                    <td width="75%">
                                                      <input type="text" name="newaddress" size="40" id="newaddress" maxlength="64" value="<%= session.user.Person_address %>">
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          
                                          <tr>
                                            <td width="25%" bgcolor="#efefef">
                                              <b><label for="newcity">City</label></b>
                                            </td>
                                            <td width="75%">
                                              <input type="text" name="newcity" size="40" maxlength="64" value="<%= session.user.Person_city %>" id="newcity">
                                            </td>
                                          </tr>
                                          <tr>
                                            <td width="25%" bgcolor="#efefef">
                                              <b><label for="newstate">State</label></b>
                                            </td>
                                            <td width="75%">
                                              <select name="newstate" id="newstate" value="<%= session.user.Person_state %>">
                                                <option value="default">-Select-</option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX">Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                              </select>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td width="25%" bgcolor="#efefef">
                                              <b><label for="newzip">Postal Code (Zip)</label></b>
                                            </td>
                                            <td width="75%">
                                              <input type="text" name="newzip" size="20" maxlength="12" value="<%= session.user.Person_zip %>" id="newzip" aria-describedby="newzip_tip" v="1" t="1" a="1" aria-autocomplete="none"  aria-required="true">
                                            </td>
                                            
                                            <td id="newzip_tip" style="display: none;">
                                              <b class="tip"></b>
                                              <td class="re-p9" >
                                                <ul><li style="width:280px;">Use 5 or 9 digits.</li>
                                              <li style="width:280px;">Please follow format 12345 or 12345-1234. </li></ul>
                                              </td>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td width="25%" bgcolor="#efefef">
                                          <b><label for="newssn">SSN</label></b>
                                        </td>
                                        <td width="75%">
                                          <input type="text" name="newssn" size="40" min= "9" maxlength="9" value="<%= session.user.Person_ssn %>" id="newssn" aria-describedby="newssn_tip" v="1" t="1" a="1" aria-autocomplete="none"  aria-required="true">
                                        </td>     
                                        <td id="newssn_tip" style="display: none;">
                                          <b class="tip"></b>
                                          <td class="re-p9">
                                            <ul>
                                              <li style="width:280px;">Must be exact 9 digits.</li>
                                            </ul>
                                          </td>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <p><b><input type="submit" value="change registration information"></b></p>
                          <p><input type="reset" value="Reset"></p>
                        </form>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>